CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
OMS_ALLOWED_EMAILS=sanchez.rivera0525@gmail.com
